body {
    background: #ffffff;
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height:1.4;
    width: 100%;
  }
 @font-face {
    font-family: 'gilroymedium';
    src: url('../fonts/gilroy-medium-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilroybold';
    src: url('../fonts/gilroy-bold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gilroysemibold';
    src: url('../fonts/gilroy-semibold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color:#222222;  outline:none;}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {text-decoration: none; outline:none;}
ul, ol { margin-left: 0; }
html {text-rendering: optimizeLegibility !important; -webkit-font-smoothing: antialiased !important;}
body {
    background: #ffffff;
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height:1.4;
    width: 100%;
  }
html,body{height:100%;}
strong { font-weight: 600;}
a,a:focus{
      color:#222222;
      outline:none; 
      text-decoration:none;
    -webkit-transition: all .3s ease-out;
     -moz-transition: all .3s ease-out; 
     -o-transition: all .3s ease-out;
     transition: all .3s ease-out;
  }
a:focus{outline:none;}
sup {
      font-size: 70%;
      top: -0.4em;
  }
a img{border-style:none; outline:none;}
img {
      border: 0 none;
      height: auto;
      max-width: 100%;
      vertical-align: middle;
         -webkit-transition: all .3s ease-out;
     -moz-transition: all .3s ease-out;
     -o-transition: all .3s ease-out;
     transition: all .3s ease-out;
}
#wrapper {
	clear: both;
	width: 100%;
	display: block;
}
#wrapper::after{content: ""; display: block; clear: both; overflow: hidden;}
.container{max-width: 1224px;}
.btn {	border-radius: 6px;	padding: 16px 24px;	line-height: 1.15;}
.btn-primary{background-color:#F38523 ; border-color:#F38523 ;}
.btn-primary:hover{background-color:#cc670f ; border-color:#cc670f ;}
.btn-success{background-color:#3BB04A ; border-color:#3BB04A ;}
/* header */
header {
	font-family: 'gilroymedium';
	font-size: 18px;
	padding: 23px 0;
	width: 100%;
	clear: both;
}
.navbar {position: relative;z-index: 1;}
header .btn {
	padding: 12.5px 32px;
	font-size: 14px;
	font-family: 'gilroybold';
	line-height: 1.6;
}
.navbar-nav li a{color: #1B1B1B;}
.navbar-nav li a:hover{color:#f38523;}
.ml-auto {	margin-left: auto;}
.navbar-nav li {margin: 0 3px;}
header .navbar-nav {margin-right: 20px;}
/* responsive css */  
@media (min-width:1200px){
    header .navbar-nav {margin-right:70px;}
}
@media (max-width:1100px){
    header{font-size: 14px; padding:10px 10px;}
}
@media (max-width:990px){
    .navbar-nav li { margin: 0 3px 15px;  font-size: 16px; }
}
