body {
    background: #ffffff;
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height:1.4;
    width: 100%;
  }
 @font-face {
    font-family: 'gilroymedium';
    src: url('../fonts/gilroy-medium-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilroybold';
    src: url('../fonts/gilroy-bold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gilroysemibold';
    src: url('../fonts/gilroy-semibold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color:#222222;  outline:none;}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {text-decoration: none; outline:none;}
ul, ol { margin-left: 0; }
html {text-rendering: optimizeLegibility !important; -webkit-font-smoothing: antialiased !important;}
body {
    background: #ffffff;
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height:1.4;
    width: 100%;
  }
html,body{height:100%;}
strong { font-weight: 600;}
a,a:focus{
      color:#222222;
      outline:none; 
      text-decoration:none;
    -webkit-transition: all .3s ease-out;
     -moz-transition: all .3s ease-out; 
     -o-transition: all .3s ease-out;
     transition: all .3s ease-out;
  }
a:focus{outline:none;}
sup {
      font-size: 70%;
      top: -0.4em;
  }
a img{border-style:none; outline:none;}
img {
      border: 0 none;
      height: auto;
      max-width: 100%;
      vertical-align: middle;
         -webkit-transition: all .3s ease-out;
     -moz-transition: all .3s ease-out;
     -o-transition: all .3s ease-out;
     transition: all .3s ease-out;
}
#wrapper {
	clear: both;
	width: 100%;
	display: block;
}
#wrapper::after{content: ""; display: block; clear: both; overflow: hidden;}
.container{max-width: 1224px;}
.btn {	border-radius: 6px;	padding: 16px 24px;	line-height: 1.15;}
.btn-primary{background-color:#F38523 ; border-color:#F38523 ;}
.btn-primary:hover{background-color:#cc670f ; border-color:#cc670f ;}
.btn-success{background-color:#3BB04A ; border-color:#3BB04A ;}
/* header */
header {
	font-family: 'gilroymedium';
	font-size: 18px;
	padding: 23px 0;
	width: 100%;
	clear: both;
}
.navbar {position: relative;z-index: 1;}
header .btn {
	padding: 12.5px 32px;
	font-size: 14px;
	font-family: 'gilroybold';
	line-height: 1.6;
}
.navbar-nav li a{color: #1B1B1B;}
.navbar-nav li a:hover{color:#f38523;}
.ml-auto {	margin-left: auto;}
.navbar-nav li {margin: 0 3px;}
header .navbar-nav {margin-right: 20px;}
/* main css */
#banner {
	background: #EFF7FF;
	width: 100%;
	padding: 77px 10px 40px;
	clear: both;
	position: relative;
}
#banner:before {
	content: "";
	background: url(../images/Union.png) no-repeat;
	display: block;
	position: absolute;
	height: 274px;
	width: 50%;
	left: -12px;
	top: -72px;
	pointer-events: none;
}
/* footer css */
.map-sec {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 46px 5px;
}
.map-sec .container{position: relative; z-index: 1;} 
.map-sec iframe{position: absolute; right: 0; bottom: 0; top: 0; left: 0;}
.map-info {
	background: #FFFFFF;
	box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.2);
	border-radius: 12px;
	max-width: 410px;
	float: right;
    font-family: 'gilroymedium';
	width: 100%;
    color: #1B1B1B;
	padding: 24px;
	text-align: center;
}
.map-info h3 {
	font-family: 'Space Grotesk', sans-serif;
	font-size: 24px;
	letter-spacing: 0.3px;
	font-weight: 700;
	margin: 0 0 18px;
}
.map-info h3 span{color: #F38523;}
.map-info p {color: #767676;line-height: 1.2;	margin: 0 0 25px;}
.map-info .row {text-align: left;font-size: 18px;}
.map-info h4 {
	font-size: 16px;
	color: #1661A4;
	font-family: 'gilroysemibold';
	margin: 0 0 10px;
}
.map-info h4 img {	margin-right: 10px;}
.map-info ul {
	list-style: none;
	padding: 0 0 20px;
	line-height: 1.2;
}
.map-info ul li{ margin: 0 0 10px;}
.disc-sec {
	overflow: hidden;
	clear: both;
	width: 100%;
	padding: 70px 5px;
}
.disc-sec .container {
	background: #FCFCFC;
	max-width: 1090px;
	padding: 50px 24px;
} 
.disc-sec h3 {
	color: #2F793E;
	font-size: 32px;
	font-weight: 700;
	margin: 0 0 37px;
}
.disc-sec p {
	margin: 0 0 6px;
	color: #000;
	text-align: justify;
	line-height: 18.75px;
}
/* responsive css */  
@media (min-width:1200px){
    header .navbar-nav {margin-right:70px;}
}
@media (max-width:1100px){
    header{font-size: 14px; padding:10px 10px;}
    #banner:before{top: -36px; background-size: 90px;}
    #banner { padding: 40px 10px 20px;}
}
@media (max-width:990px){
    .navbar-nav li { margin: 0 3px 15px;  font-size: 16px; }
    .map-info { float: none;   margin: 0 auto; } 
}
@media (max-width:767px){
    .map-info .row{ font-size: 15px;}     
    .disc-sec .container{padding: 30px 15px;}
    .disc-sec{ padding: 40px 5px;}
    .disc-sec h3 {  font-size: 24px;  margin: 0 0 20px; }
    .foot-in {	float: none;}
}
@media (max-width:400px){
.map-info .col-6 {	width: 100%;	text-align: center;}
}
